<div class ="hero vh-100 d-flex align-items-center">
  <div class  = "container">
    
    <div class = "row">
      <div class ="col-md-4 offset-md-4 text-center pic-ogi">
        <h1>
          ようこそ
          <!--PicOgi-->
          <div class="d-flex justify-content-center">
            <span class="fadeIn a1 d-block">P</span>
            <span class="fadeIn a2 d-block">i</span>
            <span class="fadeIn a3 d-block">c</span>
            <span class="fadeIn a4 d-block">O</span>
            <span class="fadeIn a5 d-block">g</span>
            <span class="fadeIn a6 d-block">i</span>
          </div>
          へ!!
        </h1>
      </div>
    </div>
      
      <div class = "row">
        <div class = "col-md-4 offset-md-4 text-center">
          新規登録は<a href = "/users/sign_up">こちら</a>
          |
          既にご登録の方は<a href = "/users/sign_in">こちら</a>
        </div>
      </div>
      
      <div class = "row ">
        <div class = "col-md-4 offset-md-4 text-center">
          お試しでお使いの方は<%= link_to 'こちら', users_guest_sign_in_path, method: :post %>
        </div>
      </div>
        
  </div>
</div>
  
  
