<div class="container" >
  <div class='row'>
    <div class="col-md-8 offset-md-2">
     <table class="table table-hover table-inverse">
         <span style="background-color:#f4f4f4">　注文履歴一覧　</span>
       <thead>
         <tr bgcolor="#f4f4f4">
           <th scope="col">購入日時</th>
           <th scope="col">購入者</th>
           <th scope="col">注文個数</th>
           <th scope="col">注文ステータス</th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td><%= link_to "2022/12/17 00-00-00", admin_homes_top_path, class: 'text-dark' %></td>
           <td>名前名前</td>
           <td>3</td>
           <td>入金待ち</td>
         </tr>
       </tbody>
     </table>
    </div>
  </div>
</div>
