<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <h1>注文情報確認</h1>
       <table class='table'>
       </table>
       <table class='table'>
          
         <tr>
           <h2>支払い情報</h2>
           <th>
              <%= @order.address %>
              <%= @order.postal_code %>
              <%= @order.name %>
           </th>
         </tr>
         
       </table>
    </div>
  </div>
</div>