<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <h1>注文情報確認</h1>
       <table class='table'>
       </table>
       <table class='table'>
          
         <tr>
           <th><%= f.label :title, "支払い方法" %></th>
           <th><%= @order %></th>
         </tr>
         
       </table>
    </div>
  </div>
</div>