<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-4'>
      
      
      
      <table>
        <tr>
          <td><h4 class="col">登録情報</h4></td>
          <td><%= link_to customers_my_page_path, class: 'col btn btn-success' do %>編集する<% end %></td>
        </tr>
      </table>
      <div></div>

      <table class="table">
        <tr><th class="border bg-light">氏名</th><td class="border">testtesttesttesttesttesttesttest</td></tr>
        <tr><th class="col border bg-light">カナ</th><td class="col border">test</td></tr>
        <tr><th class="col border bg-light">郵便番号</th><td class="col border">test</td></tr>
        <tr><th class="col border bg-light">住所</th><td class="col border">test</td></tr>
        <tr><th class="col border bg-light">電話番号</th><td class="col border">test</td></tr>
        <tr><th class="col border bg-light">メールアドレス</th><td class="col border">test</td></tr>
      </table>
      
      <table>
        <tr>
          <td><h4 class="col">配送先</h4></td>
          <td><%= link_to customers_my_page_path, class: 'btn btn-primary' do %>一覧を見る<% end %></td>
        <tr>
        <tr>
          <td><h4 class="col">注文履歴</h4></td>
          <td><%= link_to customers_my_page_path, class: 'btn btn-primary' do %>一覧を見る<% end %></td>
        </tr>
      </table>
    </div>
  </div>
</div>