<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-4'>
      
      <div class="d-flex p-2 bd-highlight">
        <h4>登録情報</h4>
        <a href="", class="btn btn-success">編集する</a>
      </div>

      <table class="table">
        <tr><th class="border">氏名</th><td class="border">test</td></tr>
        <tr><th class="border">カナ</th><td class="border">test</td></tr>
        <tr><th class="border">郵便番号</th><td class="border">test</td></tr>
        <tr><th class="border">住所</th><td class="border">test</td></tr>
        <tr><th class="border">電話番号</th><td class="border">test</td></tr>
        <tr><th class="border">メールアドレス</th><td class="border">test</td></tr>
      </table>
    </div>
  </div>
</div>