.answer-count-box{
  width: 78%;
}

.answer-box{
  width: 84%;
}

.answer-show-box{
  padding-left: 40px; 
}

.answer-text1{
  padding-right: 20px;
  font-size: 20px;
}

.answer-text2{
  font-size: 20px; 
}

.answer-text3{
  font-size: 25px; 
}