// .openbtn{
// 	position: relative;
// 	background:#D54884;
// 	cursor: pointer;
//     width: 50px;
//     height:50px;
// 	border-radius: 5px;
// }

// .openbtn span{
//     transition: all .4s;
//     position: absolute;
//     left: 14px;
//     height: 2px;
//     border-radius: 5px;
// 	background: #fff;
//   	width: 45%;
//   }

// .openbtn span:nth-of-type(1) {
// 	top:13px;	
// }

// .openbtn span:nth-of-type(2) {
// 	top:19px;
// }

// .openbtn span:nth-of-type(3) {
// 	top:25px;
// }

// .openbtn span:nth-of-type(3)::after {
// 	content:"Menu";
// 	position: absolute;
// 	top:5px;
// 	left:-2px;
// 	color: #fff;
// 	font-size: 0.6rem;
// 	text-transform: uppercase;
// }

// .openbtn.active span:nth-of-type(1) {
//     top: 14px;
//     left: 18px;
//     transform: translateY(6px) rotate(-45deg);
//     width: 30%;
// }

// .openbtn.active span:nth-of-type(2) {
// 	opacity: 0;
// }

// .openbtn.active span:nth-of-type(3){
//     top: 26px;
//     left: 18px;
//     transform: translateY(-6px) rotate(45deg);
//     width: 30%;
// }

// .openbtn.active span:nth-of-type(3)::after {
// 	content:"Close";
//     transform: translateY(0) rotate(-45deg);
// 	top:5px;
// 	left:4px;
// }

.header-box{
	padding: 0 24px;
}

.burger{
	width: 40px;
	height: 40px;
	background-color: red;
	background-image: url(/images/menu.png);
	background-size: 24px;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.burger:hover{
	background-color: #ddd;
}

.burger.active{
	background-image: url(images/x.png);
}

.menu{
	// color: #fff;
	// width: 100vw;
	// height: 100vh;
	// background-color: #000;
	// position: fixed;
	// top: 0;
	// left: 0;
	// z-index: 1;
}

.menu.active{
	
}

.header-nav{
	margin: 0 0 0 auto;
    gap: 40px;
}

