.header-box{
	padding: 15px 24px 30px;
	margin: 0px 0 15px;
	
}

.burger{
	width: 40px;
	height: 40px;
	background-color: red;
	background-image: image-url("menu.png");
	background-size: 24px;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.burger:hover{
	background-color: #ddd;
}

.burger.active{
	background-image: image-url("x.png");
}

.menu{
	display: none !important;
	color: #fff;
	width: 20vw;
	height: 80vh;
	background: rgba(3,189,112,0.8);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.menu.active{
	display: flex !important;
}

.header-nav{
	margin: 0 0 0 auto;
    gap: 40px;
}

.test1{
　// padding: 110px 0px 0px;
}

.home-icon-box{
	
}

.header-text1{
	color: #30499B;
}