// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.about-box{
    width: 100%;
    height: 100vh;
    background-color: #FEF2E8;
}

.about-box-sm{
    text-align: center;
    padding-top: 7%;
}

.about-card-efect{
    transition: all 0.35s ease; 
}

.about-card-efect:hover{
    transform: translateY(5px);
}

.about-text1{
    font-family: 'Sacramento', cursive;
    font-size: 150px;
    color: #586085;
}

.about-text2{
    font-family: "Hiragino Sans","ヒラギノ角ゴシック"; 
    font-size: 30px;
    color: #CB8FE4;
}

.about-text3{
    font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
    font-size: 30px;
    color: #586085;
}

.fadeIn1 {
    animation-name: fadeInAnime1;
    animation-fill-mode:backwards;
    animation-duration:3s;
    animation-timing-function:ease;
    animation-direction:normal;
}

.a1 {
    animation-delay: 0.5s
}

.a2 {
    animation-delay: 0.8s
}

.a3 {
    animation-delay: 1.1s
}

.a4 {
    animation-delay: 1.4s
}

.a5 {
    animation-delay: 1.7s
}

.a6 {
    animation-delay: 2.0s
}

.a7 {
    animation-delay: 2.3s
}

@keyframes fadeInAnime1{
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
     transform: translateY(0px);
  }
}

.fadeIn2 {
    animation-name: fadeInAnime2;
    animation-fill-mode:backwards;
    animation-duration:3s;
    animation-timing-function:ease;
    animation-direction:normal;
}

.b1 {
    animation-delay: 1.0s
}

.b2 {
    animation-delay: 1.3s
}

.b3 {
    animation-delay: 1.6s
}

.b4 {
    animation-delay: 1.9s
}

.b5 {
    animation-delay: 2.2s
}

.b6 {
    animation-delay: 2.5s
}


@keyframes fadeInAnime2{
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
     transform: translateY(0px);
  }
}


.fadeIn3 {
 animation-name: fadeInAnime3;
 animation-fill-mode:backwards;
 animation-duration:3s;
 animation-timing-function:ease;
 animation-direction:normal;
}

@keyframes fadeInAnime3{
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.top-box{
  width: 100%;
  height: 100vh;
  background-color: #FEF2E8;
}

.top-box-sm{
    padding: 24px 202px 0;
}

.top-card-effect{
    box-shadow: 0 8px 22px rgba(0,0,0,0.2);
    background: rgba(79,4,194,0.6);
    width: 360px;
    padding: 25px;
    transition: all 0.35s ease;
}

.top-card-effect:hover{
    box-shadow: none;
    transform: translateY(5px);
}

.icon-box{
    width: 50px;
    height: 50px;
    background-color: #BBECCD;
    font-size: 29px;
    border-radius: 100px;
    color: #EA5F56;
}

.home-image-box{
  width: 100px;
  height: 100px;
}

.servicce{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.servicce::after{
   content: ""; 
   position: absolute;
   top: 100%;
   left: 0;
   background-color: #EA5587;
   width: 100%;
   height: 100%;
   opacity: 0;
   transition: all 0.35s ease;
   z-index: -1;
}

.top-text{
   color: #F5CD3B;
   padding: 15px 0;
   font-size: 22px;
}

.servicce:hover h5
.servicce:hover p {
    color: white;
}

.servicce:hover .icon-box{
    background-color: white;
    color: black;
}

.servicce:hover:after{
    opacity: 1;
    top: 0;
}




.btnripple3{
    width: 50px;
    height: 80px;
    background-color: #BBECCD;
    font-size: 26px;
    border-radius: 13px;
    color: #EA5F56;
    position: relative;
    display: inline-block;
    text-decoration: none;
    outline: none;
}

.btnripple3:hover::before {
    content: '';
    position: absolute;
    left: 30%;
    top: 0;
    border: 1px solid #333;
    width: 60px;
    height: 60px;
    border-radius: 50%;
	opacity:1;
    animation:1s circleanime2 forwards;
}

@keyframes circleanime2{
	0%{
	  transform: scale(0);
	}
	100%{
		transform:scale(2);
		opacity: 0;
	}
}

.btnripple3::after {
    content: '';
    position: absolute;
    top: 30%;
    right: -20px;
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
}