.session-box{
  width: 100%;
  height: 100vh;
  background-color: #FEF2E8;
}

.session-box-sm{
  position: relative;
}

.session-text1{
  font-size: 60px;
  color: #CB8FE4;
}

.session-text2{
  font-size: 30px;
  color: #CB8FE4;
}

.session-text3{
    width: 125px;
    height: 50px;
    margin: 0 auto;
    background-color: white;
}

.card-effect{
    box-shadow: 0 8px 22px rgba(0,0,0,0.2);
    background-color: #586085;
    padding: 25px;
    transition: all 0.35s ease;
}


.card-effect:hover{
    box-shadow: none;
    transform: translateY(5px);
}

.link-sign_up-btn{
  font-size: 30px;
  color: #CB8FE4;
}