// Place all the styles related to the public/subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.subject-check-box{
  width: 100%;
  height: 100vh;
  background-color: #FEF2E8;
}


.subject-check-box-sm{
    width: 540px;
    padding: 40px;
    margin: 50px;
    background: rgba(79,4,194,0.4);
    border: solid 4px #333;
    border-radius: 60px;
}

.subject-check-text1{
    color: #9AF995;
    font-size: 30px;
}

.subject-new-box{
  width: 100%;
  height: 100vh;
  background-color: #FEF2E8;
}

.subject-new-box-sm{
    width: 540px;
    padding: 40px;
    margin: 50px;
    border : dashed 4px #333;
    border-radius: 60px;
}

.subject-new-text1{
    color: #4F04C2;
    font-size: 30px;
    // padding: 0 30px; 
}

.subjects-index{
  width: 100%;
  background-color: #FEF2E8; 
}

.subject-index{
  padding: 30px;
}

.subject-index-sm{
    width: 500px;
}

.subject-text{
    color: #4F04C2;
    font-size: 30px;
}

.subject-comment-box{
    width: 50px;
    height: 50px;
    background-color: #BBECCD;
    font-size: 27px;
    border-radius: 100px;
    padding: 5px;
}

.ranks-box{
   padding: 30px; 
}

.subject-each{
    box-shadow: 0 8px 22px rgba(0,0,0,0.2);
    border: solid 2px #333;
    border-radius: 60px;
    width: 500px;
    padding: 25px;
    transition: all 0.35s ease;
}

.subject-each:hover{
    box-shadow: none;
    transform: translateY(5px);
}

.subject-profile_image-box{
   color: #4F04C2;
   font-size: 30px;
}

.rank-box{
  padding: 30px; 
}

.rank-box-sm{
  width: 500px; 
  border : solid 2px #333 ;
}

.rank-text{
   font-size: 30px;  
}

.rank-each{
   width: 101%;
   padding: 10px;
   transition: all 0.35s ease;
}

.rank-each:hover{
    transform: translateY(5px);
}

.subject-show-box{
  width: 100%;
  height: 100vh;
  background-color: #FEF2E8; 
}



.bgUD{
	position: relative;
}

.bgUD span.mask{
	position: relative;
    display: block;
    line-height: 0;
    overflow: hidden;
}

.bgUD span.mask::before{
	content:"";
	position: absolute;
	z-index: 2;
	left: 650px;
	top: 0;
	opacity: 0;
	transition: .3s ease-in-out;
    transform: translateY(-100%);
	background: rgba(15,15,15,0.6);
	width: 600px;
	height: 600px;	
}

.bgUD:hover span.mask::before{
	opacity: 1;
	transform: translateY(0);
}

.bgUD span.cap{
	position: absolute;
	opacity: 0;
	transition: .5s ease-in-out;
	z-index: 3;
	top: 50%;
    left: 50%;
	transform: translate(-50%,-50%);
	color: #fff;
    line-height: 1.5;
}

.bgUD:hover span.cap{
	opacity: 1;
}

.subject-show-text1{
    font-size: 30px;
    padding: 20px;
}

.subject-show-text2{
    font-size: 25px;
    padding: 5px;
}

.subject-show-text3{
    font-size: 25px;
}

.subject-show-image{
    padding: 5px;
}

.time_limit-icon{
    width: 240px;
    padding: 5px;
    height: 50px;
    background-color: #BBECCD;
    font-size: 28px;
    border-radius: 100px;
    color: #fd4e4e;
}

.title-icon1{
    width: 50px;
    padding: 3px;
    height: 50px;
    font-size: 30px;
    background-color: #EF7D3C;
    border-radius: 100px;
    color: #7541F5;
}

.report-icon{
    width: 94px;
    padding: 8px;
    height: 50px;
    font-size: 23px;
    background-color: #E21924;
    border-radius: 100px;
    color: #49359B;
}

.report-box{
    width: 880px;
}

.edit-text2{
    color: #4F04C2;
    font-size: 28px;
    // padding: 0 30px; 
}