// Place all the styles related to the public/subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.subject-box{
  width: 100%;
  height: 100vh;
  background-color: #FEF2E8;
}