<div class = "container-fluid footer-box">
  
    <div class = "row">
      <div class = "col d-flex align-items-center justify-content-center">
        <p class="footer-text">
          © All rights reserved by Infratop.Inc.
        </p>
      </div> 
    </div>
    
</div>
