<div class="fixed-bottom">
  <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="">&lt;</a></li>
      <li class="page-item"><a class="page-link" href="/homes/top">1</a></li>
      <li class="page-item"><a class="page-link" href="/subjects">2</a></li>
      <li class="page-item"><a class="page-link" href="/subjects/new">3</a></li>
      <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
    </ul>
  </nav>   
</div>