<div class = "d-flex align-items-center">
  <div class = "container-fluid footer-box">
    <div class = "row">
      
      <div class = "col-lg-9 row justify-content-between">
        <div class ="col-2 picogi-text-footer row align-items-center">
          <div><a href="/homes/top">PicOgi</a></div>
        </div>
      </div> 
        
    </div>
  </div>
</div>
