<div class = "container">
  <div class = "row">
    <div class = "col">
      <a href="/homes/top">PicOgi</a>
    </div>
    <div class = "col">
      <h3>お帰りなさい<%= current_user.nickname %></h3>
    </div>
    <div class = "col">
      <%= link_to current_user.nickname, user_path(current_user.id) %>
      <%#= link_to "通報一覧", subject_reports_path(subject_id) %>
      <a href="/subjects/new">新規投稿</a>
      <a href="/users/sign_out">ログアウト</a>
    </div>
  </div>
</div>